@use '../../../shared/styles/layout.scss' as *;
@use '../../../shared/styles/breakpoints.scss' as *;
@use 'sass:map';

.user-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;

  mat-card {
    @extend .container-full;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-card-header {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 12px 0;
      background: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
      margin: auto;
      flex-shrink: 0; // No se reduzca
    }

    mat-card-content {
      @extend .container-full;
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      flex-direction: column;
      flex: 1; // Toma todo el espacio disponible
      overflow: hidden; // Evita scroll en el contenedor
      gap: 10px;

      // Contenedor de la tabla
      .table-container {
        flex: 1;
        overflow: auto;
        border: 1px solid var(--mat-sys-outline-variant);
        border-radius: 4px;

        table {
          width: 100%;

          // Opcional: header sticky
          th.mat-header-cell {
            position: sticky;
            top: 0;
            background: var(--mat-sys-surface);
            z-index: 1;
          }
        }
      }

      // Paginador fijo abajo
      mat-paginator {
        flex-shrink: 0;
        border-top: 1px solid var(--mat-sys-outline-variant);
      }

      app-user {
        margin: 0 10px;
      }

      input {
        padding: 10px;
        border: 1px solid var(--mat-sys-outline-variant);
        border-radius: 4px;
      }
    }
  }
}
