<section class="attendance-history">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Historial de Asistencias</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table>
        <thead>
          <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</section>
