@if (toggle.isToggled) {
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>
    <header>
      <img src="assets/images/logo.png" width="150px" alt="" />
    </header>
    <nav>
      <div>
        <mat-card>
          <mat-card-header>
            <img
              src="https://avatars.githubusercontent.com/u/107851137?v=4"
              alt=""
              mat-card-avatar
            />

            <mat-card-title>Maximiliano Marquez</mat-card-title>
            <mat-card-subtitle>
              {{ role | RoleDisplay }}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-icon (click)="toggle.isToggled = !toggle.isToggled"
          >close</mat-icon
        >
      </div>

      <mat-divider></mat-divider>

      <mat-list>
        <div mat-subheader>Tus Secciones</div>
        @if(role === Role.Student){
        <mat-list-item
          routerLink="/private/student/dashboard"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>home</mat-icon>
            <a>Dashboard</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/student/subjects"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>menu_book</mat-icon>
            <a>Materias</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/student/attendance-history"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>event_available</mat-icon>
            <a>Asistencias</a>
          </span>
        </mat-list-item>
        } @if (role === Role.Teacher){
        <mat-list-item
          routerLink="/private/teacher/dashboard"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>home</mat-icon>
            <a>Dashboard</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/teacher/subjects"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>groups</mat-icon>
            <a>Materias</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/teacher/attendance-list"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>assignment_turned_in</mat-icon>
            <a>Asistencias</a>
          </span>
        </mat-list-item>
        } @if (role === Role.Admin){
        <mat-list-item
          routerLink="/private/admin/dashboard"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>home</mat-icon>
            <a>Dashboard</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/admin/attendance-overview"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>assignment_turned_in</mat-icon>
            <a>Asistencias</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/admin/justify-absence"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>event_busy</mat-icon>
            <a>Inasistencias</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/admin/generate-report"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>bar_chart</mat-icon>
            <a>Reportes</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/admin/user-management"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>assignment_ind</mat-icon>
            <a>Solicitudes</a>
          </span>
        </mat-list-item>

        <mat-list-item
          routerLink="/private/admin/user-list"
          routerLinkActive="active-link"
        >
          <span matListItemTitle>
            <mat-icon>groups</mat-icon>
            <a>Usuarios</a>
          </span>
        </mat-list-item>
        }
        <mat-divider></mat-divider>

        <mat-list-item routerLink="/public/auth/login">
          <span matListItemTitle>
            <mat-icon>logout</mat-icon>
            <a (click)="closeSession()">Cerrar Sesión</a>
          </span>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-sidenav-content>
</mat-sidenav-container>
}
