@use '../../styles/layout.scss' as *;
@use '../../styles/breakpoints.scss' as *;
@use 'sass:map';

mat-sidenav-container {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.7);

  mat-divider {
    border-top-color: var(--mat-sys-on-primary);
    filter: brightness(0.8);
    margin: 0 10px;
  }

  mat-sidenav-content {
    width: 80%;
    height: 100%;
    background: var(--mat-sys-on-primary);

    header {
      @extend .flex-row_spc-ctr;

      background: var(--mat-sys-primary);
      padding: 15px;

      img {
        filter: invert(1) brightness(999999);
      }
    }

    nav {
      div {
        @extend .flex-row_spc-btw;

        color: var(--mat-sys-on-surface);

        mat-card-title {
          font: var(--mat-sys-title-medium);
        }

        mat-card-subtitle {
          padding-bottom: 10px;
          font: var(--mat-sys-body-medium);
        }
      }

      mat-list {
        padding: 0;

        [mat-subheader] {
          font: var(--mat-sys-title-medium);
        }

        mat-list-item {
          padding: 10px;
          cursor: pointer;
          transition: 0.3s background;

          [matListItemTitle] {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            mat-icon {
              margin-right: 10px;
              color: var(--mat-sys-primary);
            }
          }
        }

        mat-list-item:last-of-type:hover {
          background-color: rgb(255, 177, 187);

          mat-icon,
          a {
            color: rgb(214, 34, 64);
          }
        }

        mat-list-item:hover {
          background: #d1d1d1;
        }
      }
    }

    a {
      color: var(--mat-sys-on-surface);
      text-decoration: none;
    }
  }
}

.active-link {
  background: #0077ff3a;
  border-right: 2px solid blue;
}

@media (min-width: map.get($width-breakpoints, md)) {

  mat-sidenav-container {
    position: relative;
    display: inline-flex;
    background: none;
    width: 100%;
    height: 100%;

    mat-sidenav-content {
      width: 100%;

      nav div mat-icon {
        display: none;
      }
    }
  }

}
