<!-- header.component.html -->
<mat-toolbar color="primary" class="header-toolbar">
  <div class="toolbar-content">
    <div class="logo-section">
      <img src="assets/images/logo.png" width="120px" alt="Logo" />
    </div>

    <nav class="nav-section">
      @if(role === 'estudiante'){
      <a
        mat-button
        routerLink="/private/student/dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a
        mat-button
        routerLink="/private/student/subjects"
        routerLinkActive="active-link"
      >
        <mat-icon>menu_book</mat-icon>
        <span>Materias</span>
      </a>
      <a
        mat-button
        routerLink="/private/student/attendance-history"
        routerLinkActive="active-link"
      >
        <mat-icon>event_available</mat-icon>
        <span>Asistencias</span>
      </a>
      } @if (role === 'profesor'){
      <a
        mat-button
        routerLink="/private/teacher/dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a
        mat-button
        routerLink="/private/teacher/subjects"
        routerLinkActive="active-link"
      >
        <mat-icon>school</mat-icon>
        <span>Materias</span>
      </a>
      <a
        mat-button
        routerLink="/private/teacher/attendance-list"
        routerLinkActive="active-link"
      >
        <mat-icon>fact_check</mat-icon>
        <span>Asistencias</span>
      </a>
      } @if (role === 'administrador'){
      <a
        mat-button
        routerLink="/private/admin/dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>

      <button
        mat-button
        [matMenuTriggerFor]="menuAsistencias"
        class="menu-trigger"
      >
        <mat-icon>fact_check</mat-icon>
        <span>Asistencias</span>
        <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menuAsistencias="matMenu" class="custom-menu">
        <a mat-menu-item routerLink="/private/admin/attendance-overview">
          <mat-icon>visibility</mat-icon>
          <span>Ver asistencias</span>
        </a>
        <a mat-menu-item routerLink="/private/admin/justify-absence">
          <mat-icon>event_busy</mat-icon>
          <span>Justificar inasistencias</span>
        </a>
      </mat-menu>

      <a
        mat-button
        routerLink="/private/admin/generate-report"
        routerLinkActive="active-link"
      >
        <mat-icon>assessment</mat-icon>
        <span>Reportes</span>
      </a>
      <a
        mat-button
        routerLink="/private/admin/user-management"
        routerLinkActive="active-link"
      >
        <mat-icon>how_to_reg</mat-icon>
        <span>Solicitudes</span>
      </a>
      <a
        mat-button
        routerLink="/private/admin/user-list"
        routerLinkActive="active-link"
      >
        <mat-icon>people</mat-icon>
        <span>Usuarios</span>
      </a>
      }
    </nav>

    <div class="user-section">
      <button
        mat-icon-button
        [matMenuTriggerFor]="userMenu"
        class="user-button"
      >
        <img
          src="assets/images/blank-profile.webp"
          alt="Avatar"
          class="user-avatar"
        />
      </button>

      <mat-menu #userMenu="matMenu" class="user-menu">
        <div class="user-menu-header">
          <img
            src="assets/images/blank-profile.webp"
            alt="Avatar"
            class="menu-avatar"
          />
          <div class="menu-user-info">
            <div class="menu-user-name">{{ userName }}</div>
            <div class="menu-user-role">{{ role | titlecase }}</div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          routerLink="/public/auth/login"
          (click)="closeSession()"
        >
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
