@use "../../../shared/styles/layout.scss" as *;
@use "../../../shared/styles/breakpoints.scss" as *;
@use "sass:map";

.login {
  @extend .flex-col_spc-ctr;
  @extend .container-full_dv;

  &__hero {
    position: relative;
    background: linear-gradient(rgba(0, 92, 187, 0.8), rgba(0, 92, 187, 0.8)),
      url("../../../../../public/assets/images/escuela-sagarna2.jpg")
        center/cover;
    flex: 1;
    width: 100%;
  }

  &__form {
    @extend .flex-row_spc-ctr;

    flex: 4;
    width: 100%;

    mat-card {
      @extend .container-full;
      background-color: var(--mat-sys-primary-container);

      img {
        margin: auto;
        padding: 30px 0 20px 0;
      }

      form {
        @extend .flex-col_spc-evly;
        @extend .container-full;

        mat-form-field {
          width: 90%;
        }

        mat-card-actions {
          @extend .flex-col_spc-ctr;
          width: 100%;
          gap: 5px;

          button {
            width: 90%;
          }
        }

        .checkbox-container {
          width: 90%;
        }

        mat-checkbox {
          align-self: flex-start;
        }

        mat-divider {
          width: 90%;
          min-width: 100px;
          display: block;
          background-color: var(--mat-sys-outline);
          filter: opacity(0.3);
          height: 1px;
        }

        a {
          font: var(--mat-sys-body-medium);
          color: var(--mat-sys-primary);
          text-decoration: none;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.invalid-feedback {
  color: var(--mat-sys-error);
}

// Media Queries
@media (min-width: map.get($width-breakpoints, md)) {
  .login {
    flex-direction: row;

    &__hero,
    &__form {
      height: 100dvh;
    }

    &__hero {
      flex: 3;
    }

    &__form {
      flex: 2;

      mat-card {
        img {
          width: 200px;
          padding: 80px 0 20px 0;
        }
      }
    }
  }
}

@media (min-width: map.get($width-breakpoints, lg)) {
  .login {
    &__hero {
      flex: 4;
    }
  }
}
