@use '../../styles/layout.scss' as *;

mat-card {
  background: var(--mat-sys-surface);
  cursor: pointer;
  transition: 0.2s background;

  mat-card-header {
    @extend .flex-row_spc-ctr;

    justify-content: flex-start;
  }

  mat-card-content {
    @extend .flex-row_spc-btw;

    padding: 10px 0;
    width: 90%;
    margin: auto;

    mat-progress-bar {
      flex: 3;
    }

    p {
      flex: 1;
      margin: 0;
      text-align: right;
      font: var(--mat-sys-title-medium);
    }
  }

  mat-card-actions {
    width: 100%;

    button {
      width: 100%;
    }
  }
}

mat-card:hover {
  background: var(--mat-sys-tertiary-container);
}

.low-attendance {
  color: red;
}

.normal-attendance {
  color: green;
}
