<section class="flex items-center flex-col min-h-dvh">
  <main class="flex flex-col min-w-full">
    <div class="page-header">
      <h1>Panel de Inicio</h1>
      <h5>Estadísticas de asistencias de tus materias.</h5>
    </div>

    <article class="attendance-container">
      <!-- Top 5 Carreras -->
      <div class="stats-section">
        <h3>Carreras con menos asistencias</h3>
        <p>Top 5 - Últimos 30 días</p>
        <div
          #chartContainer
          style="width: 100%; height: 400px"
          class="chart-container"
        ></div>
      </div>

      <!-- Comparación de Materias -->
      <div class="comparison-section">
        <div class="comparison-card">
          <h4>Materia con más asistencias</h4>
          <app-card
            [cardTitle]="'Programación III'"
            [cardSubtitle]="'Software - Año 3 (Com. 1)'"
            [cardPercentage]="80"
          ></app-card>
        </div>

        <div class="comparison-card">
          <h4>Materia con menos asistencias</h4>
          <app-card
            [cardTitle]="'Bioquímica'"
            [cardSubtitle]="'Enfermería - Año 2 (Com. 1)'"
            [cardPercentage]="40"
          ></app-card>
        </div>
      </div>
    </article>
  </main>
</section>
