<section class="teacher-dashboard">
  <article class="teacher-dashboard__content">
    <div class="teacher-dashboard__content--hero">
      <!--Hero Background-->
    </div>

    <mat-card>
      <div class="teacher-dashboard__content--title">
        <p>Panel de Inicio</p>
      </div>

      <div>
        <mat-card-content>
          <p>Carreras con menos asistencias</p>
          <h2>Top 5</h2>
          <p>Últimos 30 días</p>
          <div #chartContainer></div>
        </mat-card-content>

        <mat-card-content>
          <h4>Materia con más asistencias</h4>
          <app-card [cardTitle]="'Programación III'" [cardSubtitle]="'Software - Año 3 (Com. 1)'" [cardPercentage]="80">
          </app-card>

          <h4>Materia con menos asistencias</h4>
          <app-card [cardTitle]="'Bioquímica'" [cardSubtitle]="'Enfermería - Año 2 (Com. 1)'"
            [cardPercentage]="40"></app-card>
        </mat-card-content>
      </div>

      <div class="teacher-dashboard__content--title">
        <p>Materias Inscritas</p>
      </div>

      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </article>
</section>
