<section class="student-subjects">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Mis Materias</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <app-card
        [cardImageUrl]="'https://avatars.githubusercontent.com/u/122392675?v=4'"
        [cardTitle]="'Programación III'"
        [cardSubtitle]="'Software - Año 2 (Com. 1)'"
        [cardPercentageLabel]="'Porcentaje de asistencias'"
        [cardPercentage]="80"
        [cardDateLabel]="'Última asistencia'"
        [cardDate]="'01/01/12ac'">
      </app-card>

      <app-card
        [cardTitle]="'Bases de Datos Avanzadas'"
        [cardSubtitle]="'Informática - Año 3 (Com. 2)'"
        [cardPercentage]="71">
      </app-card>

      <app-card
        [cardTitle]="'Redes de Computadoras'"
        [cardSubtitle]="'Telecomunicaciones - Año 1 (Com. 3)'"
        [cardPercentage]="22">
      </app-card>

      <app-card
        [cardTitle]="'Ética Profesional'"
        [cardSubtitle]="'Software - Año 4 (Com. 1)'"
        [cardPercentage]="87">
      </app-card>

      <app-card
        [cardTitle]="'Diseño de Interfaces'"
        [cardSubtitle]="'Multimedia - Año 2 (Com. 2)'"
        [cardPercentage]="36">
      </app-card>

      <app-card
        [cardTitle]="'Administración de Servidores'"
        [cardSubtitle]="'Informática - Año 3 (Com. 1)'"
        [cardPercentage]="12">
      </app-card>

      <app-card
        [cardTitle]="'Metodologías Ágiles'"
        [cardSubtitle]="'Software - Año 2 (Com. 3)'"
        [cardPercentage]="96">
      </app-card>

      <app-card
        [cardTitle]="'Derecho Informático'"
        [cardSubtitle]="'Telecomunicaciones - Año 4 (Com. 2)'"
        [cardPercentage]="79">
      </app-card>

      <app-card
        [cardTitle]="'Proyecto Final de Carrera'"
        [cardSubtitle]="'Software - Año 5 (Com. 1)'"
        [cardPercentage]="61">
      </app-card>

    </mat-card-content>

  </mat-card>

  <aside>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tomar Asistencia</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <h5>Selección de datos</h5>

        <mat-form-field [subscriptSizing]="'dynamic'">
          <mat-label>Carrera</mat-label>
          <mat-select>
            <mat-option>Tecnicatura Superior en Análisis y Desarrollo de Software</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [subscriptSizing]="'dynamic'">
          <mat-label>Año</mat-label>
          <mat-select>
            <mat-option>1er</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [subscriptSizing]="'dynamic'">
          <mat-label>Comisión</mat-label>
          <mat-select>
            <mat-option>Com. 2</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [subscriptSizing]="'dynamic'">
          <mat-label>Elige una fecha</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <h5>Lista de alumnos</h5>

        <section>
          <app-status [name]="'Maximiliano Marquez'"></app-status>
          <app-status [name]="'Ayrton Horst'"></app-status>
          <app-status [name]="'Emanuel Paez'"></app-status>
          <app-status [name]="'Federica Kapp'"></app-status>
          <app-status [name]="'Yuliana Siré'"></app-status>
          <app-status [name]="'Estéfano Acevedo'"></app-status>
          <app-status [name]="'Maxi Aga'"></app-status>
          <app-status [name]="'Adrián Bracamonte'"></app-status>
          <app-status [name]="'Juan Quinodoz'"></app-status>
          <app-status [name]="'Marcos Sanchez'"></app-status>
        </section>

        <footer>
          <button type="button" matButton="">Reiniciar</button>
          <button type="button" matButton="filled">Enviar</button>
        </footer>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Sobre el Docente</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Nombre:</span>
            <span matListItemLine>Vanegas Brian</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>Cant. Materias:</span>
            <span matListItemLine>8</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>Cant. Comisiones:</span>
            <span matListItemLine>15</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>Ciclo Lectivo:</span>
            <span matListItemLine>2025</span>
          </mat-list-item>

          <mat-list-item>
            <span matListItemTitle>Modalidad:</span>
            <span matListItemLine>Presencial</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </aside>

</section>
