<section class="attendance-overview">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Visualización de Asistencias</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <header>
        <div class="filters">
          <mat-form-field>
            <mat-label>Carrera</mat-label>
            <mat-select></mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Año</mat-label>
            <mat-select></mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Comisión</mat-label>
            <mat-select></mat-select>
          </mat-form-field>
        </div>

        <div class="controls">
          <mat-radio-group aria-label="Selecciona una opción">
            <mat-radio-button value="1">Profesorado</mat-radio-button>
            <mat-radio-button value="2">Tecnicatura</mat-radio-button>
          </mat-radio-group>

          <div class="actions">
            <button matButton="tonal">Limpiar</button>
            <button matButton="filled">Filtrar</button>
          </div>
        </div>
      </header>


      <h5>Tecnicatura Superior en Análisis y Desarrollo de Software</h5>
      <h6>1er año</h6>
      <section>
        <app-card
          [cardTitle]="'Programación III (Com. A)'"
          [cardSubtitle]="'Hereñú Daian'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III (Com. B)'"
          [cardSubtitle]="'Hereñú Daian'">
        </app-card>
      </section>

      <h5>Profesorado de Educación Primaria</h5>
      <h6>1er año</h6>
      <section>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. A)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. B)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. A)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. B)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. A)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. B)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. A)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. B)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. A)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
        <app-card
          [cardTitle]="'Programación III - 3er año (Com. B)'"
          [cardSubtitle]="'Análisis y Desarrollo de Software'">
        </app-card>
      </section>
    </mat-card-content>
  </mat-card>
</section>
