@use "../../../shared/styles/layout.scss" as *;

.register {
  @extend .container-full_dv;
  @extend .flex-col_spc-ctr;

  &__navigation {
    @extend .flex-row_spc-ctr;

    flex: 1;
    width: 100%;
    background-color: var(--mat-sys-primary);

    div {
      @extend .container-full;
      @extend .flex-row_spc-btw;

      width: 90%;

      button {
        background: var(--mat-sys-secondary);
      }

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__card {
    @extend .container-full;
    @extend .flex-col_spc-ctr;

    flex: 9;
    height: 100%;

    mat-card {
      width: 90%;
      height: 90%;

      form {
        @extend .flex-col_spc-btw;
        @extend .container-full;
      }

      img {
        width: 150px;
        position: absolute;
      }

      mat-card-header {
        @extend .flex-col_spc-ctr;

        text-align: center;
        margin-top: 10px;
      }

      div {
        @extend .flex-col_spc-ctr;

        width: 100%;

        mat-form-field {
          width: 90%;
          margin: 3px 0;
        }
      }

      mat-card-actions {
        @extend .flex-row_spc-btw;

        width: 100%;

        a {
          font: var(--mat-sys-body-medium);
        }
      }
    }
  }
}
