@use "../../../shared/styles/layout.scss" as *;

.register {
  @extend .container-full_dv;
  @extend .flex-col_spc-ctr;
  gap: 5px;

  background: linear-gradient(rgba(0, 92, 187, 0.8), rgba(0, 62, 124, 0.8)),
    url("../../../../../public/assets/images/escuela-sagarna2.jpg");

  &__navigation {
    @extend .flex-row_spc-ctr;

    flex: 1;
    width: 100%;
    background-color: var(--mat-sys-primary);
    padding: 0;
    margin: 0;
    background: transparent;

    div {
      @extend .container-full;
      @extend .flex-row_spc-btw;

      width: 90%;
      height: fit-content;
      padding: 0;
      margin: 0;

      button {
        img {
          width: 30px;
          filter: invert(1);
        }
      }

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__card {
    @extend .container-full;
    @extend .flex-col_spc-ctr;

    flex: 9;
    min-width: 2rem;
    max-width: 30rem;

    mat-card {
      width: 90%;
      height: fit-content;
      padding: 1rem;

      form {
        @extend .flex-col_spc-btw;
        @extend .container-full;
      }

      img {
        width: 150px;
        position: absolute;
      }

      mat-card-header {
        @extend .flex-col_spc-ctr;

        text-align: center;
        margin: 10px 0 20px 0;
      }

      div {
        @extend .flex-col_spc-ctr;

        width: 100%;

        mat-form-field {
          width: 90%;
          margin: 3px 0;
        }
      }

      mat-card-actions {
        @extend .flex-row_spc-btw;

        width: 100%;

        a {
          font: var(--mat-sys-body-medium);
        }
      }
    }
  }
}
