<section class="password-recovery">
  <nav class="password-recovery__navigation">
    <button matButton="tonal" (click)="routerLinks.goToLogin()">
      <img src="assets/icons/arrow_left.svg" alt="">
    </button>

    <img src="assets/images/logo.png" width="100px" alt="">
  </nav>

  <article class="password-recovery__card">

    @switch (stepper.step) {
    @case (1){
    <mat-card>
      <img mat-card-image src="assets/icons/lock_person.svg">

      <mat-card-header>Recuperación de cuenta</mat-card-header>
      <mat-card-content>Ingrese el DNI asociado a su cuenta de EduAttend.</mat-card-content>

      <mat-form-field>
        <mat-label>Documento</mat-label>
        <input matInput placeholder="Ej: 45168933">
        <mat-icon matSuffix>highlight_off</mat-icon>
        <mat-hint>Ingrese su número de documento</mat-hint>
      </mat-form-field>

      <mat-card-actions>
        <a (click)="routerLinks.goToLogin()">Volver al inicio</a>
        <button matButton="filled" (click)="stepper.nextStep()">Siguiente</button>
      </mat-card-actions>

      <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
    </mat-card>
    }
    @case(2){
    <mat-card>
      <img mat-card-image src="assets/icons/lock_person.svg">

      <mat-card-header>Seleccione un método de recuperación</mat-card-header>

      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Correo electrónico</mat-radio-button>
        <mat-radio-button value="2">Teléfono</mat-radio-button>
      </mat-radio-group>

      <mat-card-actions>
        <a (click)="stepper.prevStep()">Atrás</a>
        <button matButton="filled" (click)="stepper.nextStep()">Siguiente</button>
      </mat-card-actions>

      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </mat-card>
    }
    }

  </article>
</section>
