@use '../../../shared/styles/layout.scss' as *;
@use '../../../shared/styles/breakpoints.scss' as *;
@use 'sass:map';

.password-recovery {
  @extend .container-full_dv;
  @extend .flex-col_spc-btw;

  background: linear-gradient(rgba(0, 92, 187, 0.8), rgba(0, 92, 187, 0.8)),
    url('../../../../../public/assets/images/escuela-sagarna.jpg') center/cover;

  &__navigation {
    @extend .flex-row_spc-btw;

    margin: 5px;
    width: 90%;
    flex: 1;

    button {
      img {
        width: 30px;
        filter: invert(1);
      }
    }

    img {
      filter: brightness(0) invert(1);
    }

  }

  &__card {
    @extend .flex-col_spc-ctr;

    width: 100%;
    max-width: 400px;
    flex: 9;

    mat-card {
      @extend .flex-col_spc-evly;

      width: 90%;
      gap: 10px;
      padding: 10px;

      img {
        background-color: var(--mat-sys-secondary);
        border-radius: 50%;
        width: 170px;
        padding: 10px;
        margin-top: 20px;
      }

      mat-card-header {
        font: var(--mat-sys-title-large);
      }

      mat-card-content {
        font: var(--mat-sys-body-medium);
        color: var(--mat-sys-on-surface)
      }

      mat-radio-group {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      mat-form-field {
        width: 90%;
      }

      mat-card-actions {
        @extend .flex-row_spc-btw;

        padding: 0;
        width: 90%;

        a {
          font: var(--mat-sys-body-medium);
          color: var(--mat-sys-primary);
          cursor: pointer;
        }

      }

    }
  }
}


// Media Queries
@media (min-width: map.get($width-breakpoints, md)) {}
