<section class="password-recovery">
  <nav class="password-recovery__navigation">
    <button matButton="tonal" (click)="routerLinks.goToLogin()">
      <img src="assets/icons/arrow_left.svg" alt="" />
    </button>
    <img src="assets/images/logo.png" width="100px" alt="" />
  </nav>
  <article class="password-recovery__card" [@slideStep]="stepper.step">
    @switch (stepper.step) { @case (1) {
    <mat-card>
      <img mat-card-image src="assets/icons/lock_person.svg" />
      <mat-card-header>
        <mat-card-title>Recuperación de cuenta</mat-card-title>
      </mat-card-header>
      <mat-card-content
        >Ingrese el DNI asociado a su cuenta de EduAttend.</mat-card-content
      >
      <form [formGroup]="dniForm" (ngSubmit)="searchUserByDni()" class="w-full">
        <mat-form-field>
          <mat-label>Documento</mat-label>
          <input matInput placeholder="Ej: 45168933" formControlName="dni" />
          <mat-icon matSuffix>badge</mat-icon>
          <mat-hint>Ingrese su número de documento</mat-hint>
        </mat-form-field>
        <mat-card-actions>
          <a (click)="routerLinks.goToLogin()">Volver al inicio</a>
          <button matButton="filled" type="submit">Siguiente</button>
        </mat-card-actions>
      </form>
      <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
    </mat-card>
    } @case(2) {
    <mat-card>
      <img mat-card-image src="assets/icons/lock_person.svg" />
      <form
        [formGroup]="metodoForm"
        (ngSubmit)="sendRecoveryCode()"
        class="w-full"
      >
        <mat-card-header>
          <mat-card-title>Seleccione un método de recuperación</mat-card-title>
          <mat-card-subtitle>Usuario: {{ userEmail }}</mat-card-subtitle>
        </mat-card-header>
        <mat-radio-group aria-label="Select an option" formControlName="metodo">
          <mat-radio-button value="3">Correo electrónico</mat-radio-button>
          <mat-radio-button value="4" disabled
            >Teléfono (Próximamente)</mat-radio-button
          >
        </mat-radio-group>
        <mat-card-actions>
          <a (click)="stepper.prevStep()">Atrás</a>
          <button matButton="filled" type="submit">Enviar código</button>
        </mat-card-actions>
      </form>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </mat-card>
    } @case(3) {
    <mat-card>
      <img mat-card-image src="assets/icons/mail.svg" />
      <mat-card-header>
        <mat-card-title>Verificar código</mat-card-title>
        <mat-card-subtitle
          >Hemos enviado un código a <b>{{ userEmail }}</b></mat-card-subtitle
        >
      </mat-card-header>
      <mat-divider></mat-divider>
      <form [formGroup]="codeForm" (ngSubmit)="verifyCode()" class="w-full">
        <mat-form-field>
          <mat-label>Código de verificación</mat-label>
          <input
            matInput
            placeholder="123456"
            formControlName="code"
            maxlength="6"
          />
          <mat-icon matSuffix>pin</mat-icon>
          <mat-hint>Ingrese el código de 6 dígitos</mat-hint>
        </mat-form-field>
        <mat-card-actions>
          <a (click)="stepper.prevStep()">Atrás</a>
          <button matButton="filled" type="submit">Verificar</button>
        </mat-card-actions>
      </form>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </mat-card>
    } @case(4) {
    <mat-card>
      <img mat-card-image src="assets/icons/lock_reset.svg" />
      <mat-card-header>
        <mat-card-title>Nueva contraseña</mat-card-title>
      </mat-card-header>
      <form
        [formGroup]="passwordForm"
        (ngSubmit)="resetPassword()"
        class="w-full"
      >
        <mat-form-field>
          <mat-label>Nueva contraseña</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-hint>Mínimo 8 caracteres</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="password_confirmation"
          />
        </mat-form-field>
        <mat-card-actions>
          <a (click)="stepper.prevStep()">Atrás</a>
          <button matButton="filled" type="submit">
            Restablecer contraseña
          </button>
        </mat-card-actions>
      </form>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </mat-card>
    } }
  </article>
</section>
