section {
  background-color: var(--mat-sys-surface-container-low);
}

h1 {
  font: var(--mat-sys-headline-small);
}

p {
  color: var(--mat-sys-outline);
}

.notifications-button {
  outline: 2px solid var(--mat-sys-surface-dim);
  //box-shadow: var(--mat-sys-level1);
  border-radius: 50%;
}

.search-form {
  background-color: var(--mat-sys-surface-container-high);
  border-radius: 100px !important;
  outline: none !important;
  border: none !important;

  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: transparent;
  }

  ::ng-deep .mdc-line-ripple {
    display: none !important;
  }

  ::ng-deep .mat-mdc-form-field-focus-overlay {
    display: none !important;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background: transparent !important;
  }
}

.nav-button {
  border-radius: 5px;
  border: 2px solid var(--mat-sys-surface-dim);
  background-color: var(--mat-sys-surface);
}

.attendance-container {
  background-color: var(--mat-sys-surface);
  padding: 16px;
}

.chart-container {
  background-color: var(--mat-sys-surface-container-high);
  border: 1px solid var(--mat-sys-surface-dim);
  border-radius: 12px;
  padding: 16px;
  overflow: hidden; // Para que el chart respete el border-radius
}

.student-subjects__header {
  position: relative;
  width: 100%;
  height: 120px;
}

.student-subjects__hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 47, 94, 0.9), rgba(0, 47, 94, 0.9)),
    url("../../../../../public/assets/images/escuela-sagarna2.jpg") center/cover;
}

.total-attendance-card {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;

  .percentage {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}
