<section class="student-dashboard">
  <article class="student-dashboard__content">
    <div class="student-dashboard__content--hero">
      <!--Hero Background-->
    </div>

    <mat-card>
      <div class="student-dashboard__content--title">
        <p>Panel de Inicio</p>
      </div>

      <div>
        <mat-card-content>
          <p>Total de Asistencias</p>
          <h2>90%</h2>
          <p>Últimos 30 días</p>
          <div #chartContainer></div>
        </mat-card-content>

        <mat-card-content>
          <h4>Materia más asistida</h4>
          <app-card-compact [cardImageUrl]="'https://avatars.githubusercontent.com/u/122392675?v=4'"
            [cardTitle]="'Programación III'" [cardSubtitle]="'Vanegas Brian'" [cardPercentage]="80">
          </app-card-compact>

          <h4>Materia menos asistida</h4>
          <app-card-compact [cardTitle]="'PHP 4'" [cardSubtitle]="'Werfelli Julián'"
            [cardPercentage]="40"></app-card-compact>
        </mat-card-content>
      </div>

      <div class="student-dashboard__content--title">
        <p>Materias Inscritas</p>
      </div>

      <mat-card-content>
        <app-card [cardTitle]="'Programación III'" [cardSubtitle]="'Vanegas Brian'" [cardPercentageLabel]="'Asistencia'"
          [cardPercentage]="70" [cardDateLabel]="'Última asistencia'" [cardDate]="'1999-01-01'">
        </app-card>
      </mat-card-content>
    </mat-card>
  </article>
</section>
