@use '../../styles/layout.scss' as *;
@use '../../styles/breakpoints.scss' as *;
@use 'sass:map';

mat-sidenav-container {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.7);

  mat-divider {
    border-top-color: var(--mat-sys-on-primary);
    filter: brightness(0.7);
  }

  mat-sidenav-content {
    padding: 10px;
    width: 80%;
    height: 100%;
    background: var(--mat-sys-primary);

    nav {
      div {
        @extend .flex-row_spc-btw;
        color: var(--mat-sys-on-primary);

        mat-card-title {
          font: var(--mat-sys-title-medium);
          padding-bottom: 10px;
        }
      }

      mat-list {

        mat-list-item {
          padding: 0;

          [matListItemTitle] {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            mat-icon {
              margin-right: 10px;
              color: var(--mat-sys-on-primary);
            }
          }

          [matListItemLine] {
            margin-top: 15px;
            color: var(--mat-sys-inverse-on-surface);
            filter: brightness(0.8);
          }

        }
      }
    }

    a {
      color: var(--mat-sys-on-primary);
      text-decoration: none;
    }
  }

}

@media (min-width: map.get($width-breakpoints, md)) {

  mat-sidenav-container {
    position: relative;
    display: inline-flex;
    background: none;
    width: 100%;
    height: 100%;

    mat-sidenav-content {
      width: 100%;

      nav div mat-icon {
        display: none;
      }
    }
  }

}
