<section class="login">

  <article class="login__hero">
  </article>

  <article class="login__form">
    <mat-card>
      <mat-card-header>Iniciar Sesión</mat-card-header>

      <form action="#">
        <mat-form-field>
          <mat-label>Documento</mat-label>
          <input matInput placeholder="Ej: 45168933">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Ingrese su número de documento</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ej: zKjl8U12z-">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Ingrese su contraseña</mat-hint>
        </mat-form-field>

        <mat-checkbox>Recordarme</mat-checkbox>

        <button mat-flat-button appearance="filled">Iniciar sesión</button>
        <button mat-flat-button appearance="outlined">¿Olvidaste tu contraseña?</button>

        <mat-divider></mat-divider>

        <button mat-stroked-button>¿No tienes una cuenta? Regístrate</button>
      </form>
    </mat-card>
  </article>

</section>