<section class="login">

  <article class="login__hero">
  </article>

  <article class="login__form">
    <mat-card>
      <img src="/assets/images/logo.png" width="150px" alt="">

      <form>
        <mat-form-field>
          <mat-label>Documento</mat-label>
          <input matInput placeholder="Ej: 45168933">
          <mat-icon matSuffix>highlight_off</mat-icon>
          <mat-hint>Ingrese su número de documento</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ej: mzOjKxK1-">
          <mat-icon matSuffix>highlight_off</mat-icon>
          <mat-hint>Ingrese su contraseña</mat-hint>
        </mat-form-field>

        <div class="checkbox-container">
          <mat-checkbox>Recordarme</mat-checkbox>
        </div>

        <mat-card-actions>
          @if(role === Role.Student){
          <button type="button" matButton="filled" (click)="routerLinks.goToStudentDashboard()">Iniciar sesión</button>
          } @else if (role === Role.Teacher) {
          <button type="button" matButton="filled" (click)="routerLinks.goToTeacherDashboard()">Iniciar sesión</button>
          } @else if (role === Role.Admin){
          <button type="button" matButton="filled" (click)="routerLinks.goToAdminDashboard()">Iniciar sesión</button>
          }
          <button type="button" matButton="tonal" (click)="routerLinks.goToPasswordRecovery()">¿Olvidaste tu
            contraseña?</button>
        </mat-card-actions>

        <mat-divider></mat-divider>

        <a (click)="routerLinks.goToRegister()">¿No tienes una cuenta? Regístrate</a>
      </form>
    </mat-card>
  </article>

</section>
