<section class="login">
  <article class="login__hero"></article>
  <article class="login__form">
    <mat-card>
      <img src="/assets/images/logo.png" width="150px" alt="" />
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            placeholder="Ej: johndoe@gmail.com"
            formControlName="email"
          />
          @if (loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched) {
          <mat-hint class="invalid-feedback"
            >Correo electrónico inválido.</mat-hint
          >
          } @else {
          <mat-hint>Ingrese su correo electrónico.</mat-hint>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <mat-icon
            matSuffix
            (click)="hidePassword = !hidePassword"
            style="cursor: pointer"
          >
            {{ hidePassword ? "visibility_off" : "visibility" }}
          </mat-icon>
          <mat-hint>Mínimo 8 caracteres</mat-hint>
        </mat-form-field>

        <div class="checkbox-container">
          <mat-checkbox>Recordarme</mat-checkbox>
        </div>

        <mat-card-actions>
          <button type="submit" matButton="filled">Iniciar sesión</button>
          <button
            type="button"
            matButton="tonal"
            (click)="routerLinks.goToPasswordRecovery()"
          >
            ¿Olvidaste tu contraseña?
          </button>
        </mat-card-actions>

        <mat-divider></mat-divider>

        <a (click)="routerLinks.goToRegister()"
          >¿No tienes una cuenta? Regístrate</a
        >
      </form>
    </mat-card>
  </article>
</section>
