:host {
  width: 100%;
}

section {
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.presentBg {
  background: green;
}

.absentBg {
  background: red;
}

.justifiedBg {
  background: dodgerblue;
}

.lateBg {
  background-color: orange;
}

p {
  font: var(--mat-sys-title-small);
  color: white;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}
